@import "normalize";
@import "variables";

body {
  font-family: $work-sans;
  font-size: 16px;
  box-sizing: border-box;
  background-color: $light-pink;
  color: $dark-purple;
  text-align: start;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 40%;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
button {
  color: $dark-purple;
}

h1 {
  font-weight: $bold;
  font-size: $title;
}

button {
  background-color: $white;
  border: none;
  font-weight: $semi-bold;
  font-size: $subtitle;
}

p {
  font-weight: $lighter;
  font-size: $normal;
}

footer a {
  color: $white;
}

@media (min-width: 765px) {
  body::before {
    background-image: url("../assets/images/background-pattern-desktop.svg");
  }
}
