<article class="card-faq">
  <div class="card-faq__container-title">
    <h1>{{title}}</h1>
  </div>

  <main>
    <section *ngFor="let faqContent of faqArray" class="card-faq-section">
      <button class="card-faq-section__header" [attr.aria-expanded]="faqContent.expanded.toString()"
        [attr.aria-controls]="faqContent.id.toString()" (click)="toggleAccordion(faqContent)">
        <span>{{faqContent.question}}</span>
      </button>

      <div *ngIf="faqContent.expanded" class="card-faq-section__body" [id]="faqContent.id">
        <p class="card-faq-section__description">
          {{faqContent.answer}}
        </p>
      </div>
      <hr *ngIf="faqContent.display_separator" class="card-faq__separator">
    </section>

  </main>
</article>
